*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

:root {
  background-color: #A028FA;
  color: #F0F0F0;
}
body{
     font-family: 'Roboto', sans-serif;
}

main{
    background-color: #A028FA;
    color: #F0F0F0;
    font-weight: bold;
}

header h1{
    color: black;
    background-color: #FA2928;
    text-align: center;
    padding: 3rem;
}

img{
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    display: block;

}

.labels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 2rem;
    }    

.weather{
    text-align: center;
    padding-bottom: 2rem;
}

.container h2{
    font-size: 2.5rem;
    color: #F0F0F0;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}   

.labels label, span{
    font-size: 1.2rem;
    font-weight: bold;
    color: #F0F0F0;
    margin-right: 20px;
}

.form-group
{
    
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
    
}

footer{
    background-color: #5C28FA;
    color: #F0F0F0;
    height: 4.1rem;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
}

.data, .weather{
    position: static;
}

@media (min-width: 768px) {
  .data,
  .weather {
    /* background-color:  #A028FA; */
    background-color: rgba(160, 40, 250, 0.85);
    position: absolute;
    top: 30%;
    left: 5%;
    width: 30%;
    margin: 0;
  }
   .weather{
    top: 80%;
    left: auto;
    right: 10%;
  }

  .weather-heading::after {
    background-image: url('../images/weather.svg'); 
    display: inline-block;
    margin-left: 0.5rem;
    vertical-align: middle;
    height: 1.5rem;
    width: 1.5rem;
    max-width: 30%;
    object-fit: contain;

  }
}



